<div *ngFor="let repo of userRepos" class="my-3 card">
  <div class="repos d-flex flex-column">
    <label class="form-control-lg w-auto d-inline mb-0 pl-0 align-items-center d-flex card-title" for="repoName">{{repo.name}}</label>
    <div class="ml-5 mb-2">
      <div class="d-flex mb-2">
        <div class="w-50">
          <label class="w-auto d-inline pl-0 align-items-center d-flex" for="privacy">Private: {{repo.private}}</label>
          <label class=" w-auto d-inline align-items-center d-flex" for="forks">forks {{repo.forks_count}}</label>
        </div>

        <div class="ml-3">
          <label class="w-auto d-inline align-items-center d-flex" for="commits">default_branch {{repo.default_branch}}</label>
          <button class="btn btn-dark d-block">
            <a href="{{repo.html_url}}" target="_blank">View Repository on Github</a>
          </button>
        </div>
      </div>
      <label class="form-control-sm mb-0" for="description">Project Description</label>
      <textarea class="form-control" name="description" disabled id="description" rows="2">
        {{repo.description}}</textarea>
    </div>
  </div>
</div>
