<div class="">
  <div class=" searchNav">
    <nav class="w-100 py-2 d-flex flex-row align-items-center bg-dark">
      <label class="form-control-lg bg-transparent mb-0">GitProfiles</label>
      <label class="d-inline-flex mb-0 ml-auto" for="search">
        <input class="form-control my-auto" type="text" [(ngModel)]="userSearch" id="search" name="userSearch" on-keyup="getUser()">
        <label class="form-control-lg mb-0 px-1">Search</label>
      </label>
    </nav>
  </div>
  <div class="searchOverlay">
    <ul>
      <li class="my-2" *ngFor="let result of results">
        <button class="btn w-50 mx-auto d-flex btn-light">{{result}}</button>
      </li>
    </ul>
  </div>
</div>
