<div class="container-fluid p-0">
  <header id="navbar">
    <app-searchbar (userSearch)="getSearchData($event)"></app-searchbar>
  </header>
  <div class="main mx-auto">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="display">
      <div class="personalDetails d-flex mt-5">
        <div class="details d-flex flex-column">
          <label class="form-control-lg d-flex align-items-center bg-transparent" for="name">{{userDetailsObject.name}}</label>
          <label class="form-control-sm d-flex align-items-center bg-transparent" for="name">User id: {{userDetailsObject.id}}</label>
          <label class="form-control-sm d-flex align-items-center bg-transparent" for="name">{{userDetailsObject.email}}</label>
          <label class="form-control-sm d-flex align-items-center bg-transparent" for="name">{{userDetailsObject.bio}}</label>
        </div>
        <div class="avatar ml-auto">
          <div class="card">
            <img class="card-img-top" src="{{userDetailsObject.avatar_url}}" alt="">
            <p class="card-title text-center mb-0">{{userDetailsObject.type}}</p>
          </div>
        </div>
      </div>
      <div class="">
        <button class="btn btn-dark">
          <a href="{{userDetailsObject.html_url}}">View User on Github</a>
        </button>
      </div>
      <hr>
      <div>
        <div class="mt-2">
          <ul id="profile-nav" class="d-flex">
            <li on-click="getRepositories()" class="mx-auto py-2">
              <a href="#">Repositories
                <span>{{ userDetailsObject.public_repos}}</span>
              </a>
            </li>
            <li on-click="getFollowers()" class="mx-auto py-2">
              <a href="#">Followers
                <span>{{ userDetailsObject.followers}}</span>
              </a>
            </li>
            <li on-click="getFollowing()" class="mx-auto py-2">
              <a href="#">Following
                <span>{{ userDetailsObject.following}}</span>
              </a>
            </li>
            <li class="mx-auto py-2">
              <a href="">Subscriptions
                <span>{{ userDetailsObject.public_repos}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <br>
      <!-- Repositories display area -->
      <div *ngFor="let repo of userRepos">
        <div class="repos d-flex flex-column">
          <label class="form-control-lg w-auto d-inline mb-0 pl-0 align-items-center d-flex" for="repoName">Repository Name {{repo.name}}</label>
          <div class="ml-5 mb-2">
            <div class="d-flex mb-2">
              <div class="w-50">
                <label class="w-auto d-inline pl-0 align-items-center d-flex" for="privacy">Private: {{repo.private}}</label>
                <label class=" w-auto d-inline align-items-center d-flex" for="forks">forks {{repo.forks_count}}</label>
              </div>
              <div class="ml-3">
                <label class="w-auto d-inline align-items-center d-flex" for="commits">default_branch {{repo.default_branch}}</label>
                <button class="btn btn-dark d-block">
                  <a href="{{repo.html_url}}" target="_blank">View Repository on Github</a>
                </button>
              </div>
            </div>
            <label class="form-control-sm mb-0" for="description">Project Description</label>
            <textarea class="form-control" name="description" disabled id="description" rows="2">
              {{repo.description}}</textarea>
          </div>
        </div>
      </div>
      <!-- followers display area -->
      <div class="user" *ngFor="let follower of userFollowers">
        <div class="user-info d-flex">
          <div class="name-id w-75 d-flex flex-column">
            <label for="followerName">Name {{follower.login}}</label>
            <label for="followerId">id: {{follower.id}}</label>
          </div>
          <div class="follower-avatar card">
            <img class="card-img" src="{{follower.avatar_url}}" alt="">
          </div>
        </div>
        <div class="account-details">
          <ul class="d-flex">
            <li on-click="getRepositories()" class="mx-auto py-2">
              <a href="{{ follower.html_url}}">Repositories
              </a>
            </li>
            <li on-click="getFollowers()" class="mx-auto py-2">
              <a href="{{ follower.html_url}}">Followers
              </a>
            </li>
            <li class="mx-auto py-2">
              <a href="{{ follower.html_url}}">Following
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- following display area -->
      <div class="user" *ngFor="let following of userfollowing">
        <div class="user-info d-flex">
          <div class="name-id w-75 d-flex flex-column">
            <label for="followingName">Name {{following.login}}</label>
            <label for="followingId">id: {{following.id}}</label>
          </div>
          <div class="followers-avatar card">
            <img class="card-img" src="{{following.avatar_url}}" alt="">
          </div>
        </div>
        <div class="account-details">
          <ul class="d-flex">
            <li on-click="getRepositories()" class="mx-auto py-2">
              <a href="{{ following.html_url}}">Repositories
              </a>
            </li>
            <li on-click="getfollowings()" class="mx-auto py-2">
              <a href="{{ following.html_url}}">followings
              </a>
            </li>
            <li class="mx-auto py-2">
              <a href="{{ following.html_url}}">Following
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 200px;"></div>
</div>
