.main {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "sidebar display";
  width: 80%;
  display: flex;
}

.displayLabel {
  background-color: transparent;
}

.sidebar {
  grid-area: sidebar;
  width: 30%;
}

.display {
  grid-area: display;
  width: 70%;
}

.details * {
  margin-bottom: 0;
  font-weight: 400;
  padding: 0;
}

.avatar {
  width: 125px;
}
